.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__wrap {
    .wrapper();
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}

.footer__list {
    list-style: none;
    padding: 20px 0 28px;
    margin: 0;
    border-top: 1px solid #F0EBFF;
    display: flex;
    flex-direction: column;
    gap: 20px;
 }

.footer__title {
    .font700();
    color: @color-violet;
    margin: 0;
    padding: 0;
}

.footer__item {
    .font500();
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
}

.footer__link {
    text-decoration: none;
    color: #333333;
}

.footer__address {
    .font400();
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
}

.footer__tel {
    .font400();
    text-decoration: none;
    color: #333333;
    font-size: 14px;
    line-height: 20px;
}