.slider {
    width: 100%;
    background-color: #F3EBE1;
    color: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider__wrap {
    .wrapper();
    padding: 20px 20px 60px;
}

// .slider__img {

// }

.slider__text {
    .text();
}

.slider__title {
    .font700();
    font-size: 36px;
    line-height: 48px;
    margin: 0;
    padding: 0;
}

.slider__description {
    .font400();
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    padding: 0;
}

.slider__old-price {
    .font400();
    font-size: 16px;
    line-height: 32px;
    color: @color-violet;
    text-decoration-line: line-through;
}

.slider__price {
    .font600();
    font-size: 20px;
    line-height: 32px;
}

.slider__button {
    .font400();
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    background-color: @color-violet;
    border: none;
    padding: 8px 20px;
    border-radius: 4px;
}